@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;600;700&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#__next , html , body{
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}