@import 'colors';

.main {
    min-height: 100%;
    background: url(/static/images/bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.content{
    min-height: 90vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page{
    max-width: 1500px;
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
// moon and mars
.mars , .moon{
    position: absolute;
    object-position: center;
    object-fit: cover;
    height: 200px;
}
.mars{
    top: 0px;
    left: 0px;
    animation: marsAnimation ease 60s infinite alternate;
}
.moon{
    top: 50%;
    right: 0px;
    animation: moonAnimation ease 60s infinite alternate;
}
// animations
@keyframes marsAnimation {
    50%{ top: 20%; left: 10%; }
    100%{ top: 5%; left: 100%; }
}
@keyframes moonAnimation {
    50%{ right: 50%; top: 10%; }
    75%{ top: 55%; right: 50%; }
    100%{ top: 30%; right: 100%; }
}
// mobile
@media screen and(max-width:700px) {
    .page{
        margin-bottom: calc(10vh + 50px);
    }
}