@import 'colors';
.homePageProfile{
    flex: 1;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.homePageProfileImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
    &:hover{
        transform: scale(1.1) rotate(360deg);
    }
}
.homePageProfileH2{
    font-size: 35px;
    font-weight: 800;
    color: $textColor;
    margin-top: 10px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.homePageProfileH3{
    font-size: 25px;
    font-weight: 400;
    color: #d3d3d3;
    margin-top: 5px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
// moon and mars
.mars , .moon{
    position: absolute;
    object-position: center;
    object-fit: cover;
    height: 200px;
}
.mars{
    top: 0px;
    left: 0px;
    animation: marsAnimation ease 60s infinite alternate;
}
.moon{
    top: 50%;
    right: 0px;
    animation: moonAnimation ease 60s infinite alternate;
}
// animations
@keyframes marsAnimation {
    50%{ top: 20%; left: 10%; }
    100%{ top: 5%; left: 100%; }
}
@keyframes moonAnimation {
    50%{ right: 50%; top: 10%; }
    75%{ top: 55%; right: 50%; }
    100%{ top: 30%; right: 100%; }
}
// mobile
@media screen and(max-width:1370px) {
    .homePageProfileH2{
        font-size: 25px;
    }
    .homePageProfileH3{
        font-size: 20px;
    }
}
@media screen and(max-width:700px) {
    .homePageProfileImg{
        width: 100px;
        height: 100px;
    }
}